<div class="about-cont">
    <h1>About</h1>
    <div class="inner-card">
        <h1 class="head">Careers</h1>
        <p>
            Saven Technologies is a knowledge-based consulting and technology implementation company focused on improving business results through technology-enabled transformation solutions. We help clients find ways to succeed in today ' s extended enterprise business environment. To that end, we employ highly talented individuals.
        </p>
        <p>
            Our compensation and benefits plans are geared towards professionals who want to take charge of their career paths. An outstanding compensation program and a forward thinking benefits system ensure that individuals who join the company can truly be compensated in terms of merit and excellence in their field. While many of our positions do require travel, we are dedicated to the life/work balance ethic. Retaining our current employees and attracting top talent rank among the most important objectives of Saven. If continuing your current career success with a group of dynamic individuals fits into your personal goals, please take a look at some of the exciting opportunities that Saven has to offer.
        </p>
        <p>
            Saven adheres to all federal, state and local regulations and related compliance issues for work performed for our client companies. As an Affirmative Action/Equal Opportunity Employer, Saven does not discriminate by reason of race, religion, handicap, color, sex, age, national origin, ancestry, marital status, pregnancy or veteran status.
        </p>
    </div>
</div>
